<div class="d-flex flex-column container-fluid aling-items-center">
  <div class="card card-plain">
    <div class="card-header">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h4 class="font-weight-bolder">Entrar</h4>
    </div>
    <div class="card-body">
      <form role="form">
        <div class="input-group input-group-outline mb-3">
          <div class="field align-items-center">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="input-group input-group-outline mb-3">
          <div class="field">
            <%= f.label :senha %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <div class="form-check form-check-info text-start ps-0">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
          <div class="actions">
            <%= f.submit "Log in", class: 'btn bg-gradient-secondary btn-sm w-50px h-20px' %>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>

