<div class="container">
  <div class="posts-container mx-auto px-3 my-5">
    <div class="posts">
      <div class="post">
        <h1 class="post-title fw-500 text-light text-bold">
          <%= @post.name %>
        </h1>
        <div class="d-flex align-items-center text-muted text-decoration-none">
          <span class='text-white'><span class='text-bold'>User: </span> <%= @post.user.email %></span>
        </div>
        <div>
          <p class='text-white'><span class='text-bold'>Summary:</span> <%= @post.summary %></p>
        </div>
        <div class='text-center'> 
          <%= image_tag @post.image, style: 'height:25vw;width:50vw;margin-bottom:20px;' %>
        </div>
        <div class='text-center text-light'>
          <%= @post.content %>
        </div>
        <div id='list-rating'>
          <div class='text-center my-5'>
            <p class='mt-6 text-white text-bold'>Avaliações</p>
              <% if current_user %>
                <%= form_with model: @evaluation, local: false, remote: true do |form| %>
                  <%= form.hidden_field :post_id, value: @post.id %>
                    <% (1..5).each do |i| %>
                    <%= form.label :value, for: "evaluation_value_#{i.to_i}" do %>
                      <i class="far fa-star" id="<%= i %>star"></i>
                    <% end %>
                    <%= form.radio_button :value, i.to_i, class: "d-none" %>
                  <% end %>
                    <br>
                    <%= form.submit "Rate", class: 'btn'%>
              <% end %>
            <% end %>
            <div id="post-evaluation" class='text-white my-2 text-center'>
              <%= @value_median.to_i %>
            </div>
          </div>
        </div>
        <hr>
        <div class="bg-light rounded mt-5">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-heading mx-2"><h4> Comment panel</h4></div>
                <div class="panel-body">
                  <% if current_user %>
                    <%= form_with model: @comment, local: false, :html => {:id => 'comment_form'}  do |form| %>
                      <%= form.hidden_field :post_id, value: @post.id %>
                      <%= form.text_field :description, class:'form-control mx-2', :maxlength => 100, placeholder: 'comente aqui' %>
                      <%= form.submit 'Salvar', class:'btn' %>
                    <% end %>
                  <% end %>
                  <hr>  

            <div id='lista-comentarios'>
                <%= render 'comments', comments: @comments %>
            </div>
        </div>  
      </div>
    </div>
  </div>
</div>



<script>

  $("#1star").click(function(){
    $("#1star").css('color', 'yellow');
    $("#2star").css('color', 'grey');
    $("#3star").css('color', 'grey');
    $("#4star").css('color', 'grey');
    $("#5star").css('color', 'grey');
  })
  $("#2star").click(function(){
    $("#1star").css('color', 'yellow');
    $("#2star").css('color', 'yellow');
    $("#3star").css('color', 'grey');
    $("#4star").css('color', 'grey');
    $("#5star").css('color', 'grey');
  })
  $("#3star").click(function(){
    $("#1star").css('color', 'yellow');
    $("#2star").css('color', 'yellow');
    $("#3star").css('color', 'yellow');
    $("#4star").css('color', 'grey');
    $("#5star").css('color', 'grey');
  })
  $("#4star").click(function(){
    $("#1star").css('color', 'yellow');
    $("#2star").css('color', 'yellow');
    $("#3star").css('color', 'yellow');
    $("#4star").css('color', 'yellow');
    $("#5star").css('color', 'grey');
  })
  $("#5star").click(function(){
    $("#1star").css('color', 'yellow');
    $("#2star").css('color', 'yellow');
    $("#3star").css('color', 'yellow');
    $("#4star").css('color', 'yellow');
    $("#5star").css('color', 'yellow');
  })
</script>