<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <title>blog do jao</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  </head>
   
  <body class='bg-dark responsive g-sidenav-show'>  
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-4 fixed-start ms-3 bg-gradient-secondary" id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=<%= root_path %>>
          <i class="fas fa-sitemap navbar-brand-img h-100" alt="main_logo"></i>
          <span class="ms-1 font-weight-bold text-white">Admin Dashboard</span>
        </a>
      </div>
      
      
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white " href= <%= posts_path %>>
              <i class="fas fa-file-word me-sm-1"></i>
              <span class="nav-link-text ms-1">Post</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white " href= <%= roles_path %>>
              <i class="fas fa-user-tag me-sm-1"></i>
              <span class="nav-link-text ms-1">Roles</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href= <%= categories_path %>>
              <i class="far fa-hospital"></i>
              <span class="nav-link-text ms-1">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href= <%= users_path %>>
              <i class="fas fa-address-card"></i>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href= <%= comments_path %>>
              <i class="fab fa-accessible-icon me-sm-1"></i>
              <span class="nav-link-text ms-1">Comentários</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>

   <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <%= link_to 'editar perfil', edit_user_registration_path, class: "text-bold breadcrumb-item text-sm text-white active" %>
            <%=  link_to 'sair', destroy_user_session_path, class: "text-bold breadcrumb-item text-sm text-white active "%>
          </ol>
          <h6> <%= link_to "home", root_path, class: "d-sm-inline d-none text-light text-bold" %> </h6>  
       </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          <ul class="navbar-nav  justify-content-end mx-2">
            <li class="nav-item d-flex align-items-center">
              <span class="text-white text-bold"> <%= current_user.email %> </span>
              
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
<script>
  
</script>