<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <title>blog do jao</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">

    <!-- fontes -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
  <body>
    <nav class="navbar navbar-main navbar-expand-lg bg-dark" id="navbarBlur">
        <% if current_user %>
          <span class= "text-light" style='font-family: Syne Mono'> <%= current_user.email %></span>
        <% end %>
        <%= link_to "home", root_path, class: "d-sm-inline d-none text-light", style: "font-family: Syne Mono" %>
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">         
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                    <% if current_user %>
                    <%=  link_to 'editar perfil', edit_user_registration_path, class: "d-sm-inline d-none text-light" , style: "font-family: Syne Mono"%>
                    <% else %>
                    <%=  link_to "entrar", new_user_session_path, class: "d-sm-inline d-none text-light", style: "font-family: Syne Mono" %>
                    <% end %>
                </a>
                </li>
                </ul>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body px-3 font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <%if current_user %>
                    <%=  link_to 'sair', destroy_user_session_path, method: :delete, class: "d-sm-inline d-none text-light", style: "font-family: Syne Mono"%>
                    <%else%>
                      <%=  link_to "cadastre-se", new_user_registration_path,class: "d-sm-inline d-none text-light", style: "font-family: Syne Mono" %>
                    <%end %>
                </a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <%= yield %>
    <footer class="bg-dark d-flex flex-wrap justify-content-center aling-items-center text-center py-1  border-top">
      <div class="d-flex row">
        <span class="text-muted" style="font-family: Source Code Pro">blog do jao</span>
        <span class="text-muted" style="font-family: Source Code Pro">2021</span>
      </div>
    </footer>
  </body>
</html>
